@import mixins

/*======================================================*/
/*Generic Sidebar Styles ===============================*/
/*======================================================*/


.singular-aside
  background: rgb(240,239,236)
  border-right: solid 1px rgb(203,203,202)
  box-shadow: 1px 0 0 rgba(255,255,255,.5), inset 0 -1px 3px rgba(35,31,32,.05)
  bottom: 0
  left: 60px
  top: 0
  overflow: visible
  position: fixed
  width: 250px


.widget-active
  border-bottom: solid 1px $grey30
  box-shadow: 0 1px 0 rgba(255,255,255,.75)

.widget-toggle
  @include transition ((color .15s, background .15s))
  @include gradient (rgb(238,237,235), (rgb(238,237,235), rgb(226,225,223)))
  box-shadow: 0 1px 0 rgb(249,248,247), inset 0 1px 0 rgba(255,255,255,.5)
  border-bottom: solid 1px $grey30
  color: $grey50
  cursor: pointer
  font: 14px/18px 'MuseoSans500Regular', sans-serif 
  padding: 10px 10px 10px 50px
  position: relative
  text-transform: uppercase
  text-shadow: 0 1px 0 rgba(255,255,255,.75)

  &:before
    content: "▶"
    display: block
    font-size: 9px
    position: absolute
    left: 30px
    top: 10px
  &:hover
    @include gradient (rgb(238,237,235), (rgb(240,239,237), rgb(230,229,227)))
    color: $grey80
  &:active
    @include gradient (rgb(226,225,223), (rgb(226,225,223), rgb(226,225,223)))
    box-shadow: inset 0 1px 2px rgba(35,31,32,.1), 0 1px 0 rgb(249,248,247)
    padding-bottom: 9px
    padding-top: 11px

    &:before
      top: 11px

  .widget-active &
    @include gradient (rgb(238,237,235), (rgb(240,239,237), rgb(230,229,227)))
    box-shadow: 0 1px 2px rgba(35,31,32,.1), inset 0 1px 0 rgba(255,255,255,.5)
    color: $grey80

    &:before
      content: "▼"
    &:active
      @include gradient (rgb(226,225,223), (rgb(226,225,223), rgb(226,225,223)))
      box-shadow: inset 0 1px 2px rgba(35,31,32,.1), 0 1px 0 rgba(249,248,247, 0)
      padding-bottom: 9px
      padding-top: 11px
    
      &:before
        top: 11px

.widget-content
  height: 0
  overflow: hidden
  padding: 0 30px

  .widget-active &
    height: auto
    overflow: visible
    padding-bottom: 20px
    padding-top: 20px

.widget-toggle + .widget-content
  background: rgb(248,247,246)

.widget
  .dropdown
    @include transition (none)
    border-bottom: transparent
    border-radius: 3px
    display: inline-block
    font-family: 'MuseoSans500Regular', sans-serif
    line-height: 18px
    padding: 0 3px
    position: relative
    span
      position: relative
      z-index: 2
    &:after
      content: "▼"
      display: inline
      font-size: 8px
      left: 2px
      position: relative
      top: -1px
    &:before
      background: $blue
      border: solid 1px darken($blue, 5%)
      box-shadow: inset 0 1px 0 rgba(255,255,255,.25), 0 1px 2px rgba(0,0,0,.05)
      border-radius: 6px
      content: ""
      display: none
      height: 100%
      position: absolute
      left: -3%
      top: -2px
      width: 106%
      z-index: 0

    &:hover,
      color: #fff

      &:before
        display: block
    &:active,
    &.dropdown-active
      color: #fff
      top: 0px
      &:before
        background: darken($blue, 5%)
        box-shadow: inset 0 1px 3px rgba(0,0,0,.25), 0 1px 0 #fff
        display: block
  .dropdown-content
    background: #fff
    border: solid 1px $grey20
    box-shadow: 0 1px 3px rgba(0,0,0,.05)
    display: none
    position: absolute
    right: -40px
    top: 120%
    width: 200px
    z-index: 2

    li
      border-bottom: solid 1px $grey10
      color: $blue
      display: block
      font: 15px/18px 'MuseoSans300Regular', sans-serif 
      margin: 0
      padding: 10px
      position: relative

      &:hover
        background: $blue
        border-bottom: solid 1px darken($blue, 5%)
        color: #fff
        font: 15px/18px 'MuseoSans500Regular', sans-serif 
      &:active
        box-shadow: inset 0 1px 2px rgba(0,0,0,.5)
        color: lighten($blue, 50%)
        top: 1px
    li:first-child
      &:after
        @include transform (rotate(45deg))
        background: #fff
        border-left: solid 1px $grey20
        border-top: solid 1px $grey20
        content: ""
        display: block
        height: 10px
        right: 38px
        margin-left: -5px
        position: absolute
        top: -6px
        width: 10px
        z-index: 3
      &:hover
        &:after
          background: $blue
    li.selected,
    li.selected:hover,
    li.selected:active
      background: lighten($blue, 60%)
      border-bottom: solid 1px lighten($blue, 55%)
      box-shadow: none
      color: $blue
      font: 15px/18px 'MuseoSans500Regular', sans-serif 
      top: 0
      &:after
        background: lighten($blue, 60%)

  .dropdown-active
    .dropdown-content
      display: block

/*======================================================*/
/*Specific widgets =====================================*/
/*======================================================*/

/*Title ============*/

.widget-title
  .widget-content
    color: $grey80
    font: 16px/18px 'MuseoSans500Regular', sans-serif 

/*Author ============*/

.widget-author
  .widget-content
    padding-left: 50px
    position: relative
    &:before
      color: $blue
      font: 22px/20px 'Pictos Custom'
      content: "p"
      display: block
      left: 25px
      margin-top: -9px
      position: absolute
      top: 50%

/*Sections ============*/

.widget-sections
  .widget-content
    padding: 0
  ul
    float: none
    height: auto
    margin: 0
    padding: 0
  li
    @include box-shadow (inset 0 1px0 #fff)
    border-bottom: solid 1px $grey20
    display: block
    float: none
    margin: 0
    position: relative

    span
      position: absolute
  .tab-nav-item
    color: $grey80
    display: block
    font: 15px/18px 'MuseoSans300Regular', sans-serif 
    padding: 12px 50px
  .tab-nav-active,
  .tab-nav-active:hover,
  .tab-nav-active:active
    @include gradient ($blue, ($blue, rgb(36,72,110)))
    box-shadow: inset -1px 0 3px rgba(0,0,0,.25)
    color: $white
    font: 15px/18px 'MuseoSans500Regular', sans-serif 
    top: 0

    &:after
      @include gradient (#ff0, (left top, rgb(42,85,129), rgb(37,75,114)))
      border: none
      border-top: solid 1px darken($blue, 2%)
      border-right: solid 1px darken($blue, 2%)
      bottom: auto
      box-shadow: 1px -1px 0 rgba(255,255,255,.5), inset -1px 1px 3px -2px rgba(0,0,0,.25)
      left: auto
      margin: 0
      margin-top: -8px
      right: -8px
      top: 50%
  a.btn
    display: block
    float: none
    margin: 12px
    padding: 12px

/*==================================================*/
/*Main Content =====================================*/
/*==================================================*/


.singular-header,
.singular-content
  display: block
  float: left
  width: 100%
  padding-left: 250px

.singular-content
  section
    background: #fff
    border: solid 1px $grey25
    box-shadow: 0 1px 5px rgba(0,0,0,.05)
    padding: 50px

.singular-header
  h1
    float: left

/*Editor Section =====================================*/

section.editor
  padding: 0

  textarea
    min-height: 800px
    padding: 50px



/*History Section =====================================*/

section.history
  padding: 0
  table
    width: 100%
    th
      box-shadow: inset 0 -2px 5px -3px rgba(0,0,0,.1)
      border-bottom: solid 1px $grey25
      font-size: 13px
      text-align: left
      padding: 15px 25px
      text-transform: uppercase
    td
      background: rgb(250,249,246)
      border-bottom: solid 1px $grey15
      border-top: solid 1px #fff
      padding: 10px 25px
      text-shadow: 0 1px 0 #fff
      a
        border-bottom: solid 1px transparent
        &:hover
          border-bottom: solid 1px
          color: #222
    tr:first-child
      td
        border-top: none  
